<footer class="footer mt-auto py-3">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>The African Investment Network is a service offered and operated by Minerva; </p>
    <p><a href="#">Terms & Conditions</a> | <a href="#">FAQs</a> | <a href="#">About Us</a> | <a href="#">Contact Us</a>.</p>
  </div>
</footer>
