<section class="jumbotron text-center">
    <div class="container">
      <h1>The African Investment Network</h1>
      <p class="lead text-muted">We bring together businesses looking for investment and investors with the capital, contacts and knowledge to help them succeed.</p>
      <p>
        <a href="#" class="btn btn-primary my-2 frontBtn">Fundraise</a>
        <a href="#" class="btn btn-secondary my-2 frontBtn">Invest</a>
      </p>
    </div>
  </section>
